{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <nav class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li><a href="/category/{{ category.id }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {% if chosen_category %}
                <h3>{{ chosen_category.title }}</h3>
                {% for product in chosen_category.products %}
                    <article>
                        <p>{{ product.title }}</p>
                        <p>{{ converter(product.price) }}</p>
                        <p>{{ product.description }}</p>
                    </article>
                {% endfor %}

            {% endif %}
        </div>
    </div>
{% endblock %}